html{height: 100%;}
body{line-height:1.5; margin:0 auto; font-family: "Microsoft YaHei","Hiragino Sans GB","微软雅黑","宋体",Arial,Verdana,sans-serif;font-size: 12px; width:100%;height: 100%;background: #fff;color:#000;}
ul,li,img,span,p,font,strong,em,ol,h1,h2,h3,h4,h5,h6,dl,dt,dd,input,tboby,form{margin:0; padding:0; border:0; list-style:none;}
h1,h2,h3,h4,h5,h6{font-weight: normal;}
table{border-collapse:collapse;border-spacing:0;}
input, select, textarea, button{outline: none;font-family: "Microsoft YaHei","Hiragino Sans GB","微软雅黑","宋体",Arial,Verdana,sans-serif;}
input {-webkit-appearance: none;}
li{list-style:none;}
a{text-decoration:none;color:#e74c3c;}
img{ vertical-align:middle;max-width:100%;}
a img{border:none;}
* {
    outline: 0;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-focus-ring-color: rgba(0, 0, 0, 0)
}
.clearfix:after {content:"\200B"; display:block; height:0; clear:both;}
.clearfix {*zoom:1;}

.fl{float: left;}
.fr{float: right;}
.block{display: block;}
.pointer{cursor: pointer;}
.hide{display: none;}
.inline{display: inline;}
.tcenter{text-align: center;}
.tright{text-align: right;}
.tleft{text-align: left;}
.hide-text{font:0/0 a;color:transparent;text-shadow:none;background-color:transparent;border:0}

.container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-size: .24rem;
    color: #4e4026;
    background-color: #bce0d2;
}


@media screen and (min-width:320px) {
    html {
        font-size: 42.67px
    }
}

@media screen and (min-width:360px) {
    html {
        font-size: 48px
    }
}

@media screen and (min-width:375px) {
    html {
        font-size: 50px
    }
}

@media screen and (min-width:414px) {
    html {
        font-size: 55.2px
    }
}

@media screen and (min-width:480px) {
    html {
        font-size: 64px
    }
}

@media screen and (min-width:640px) {
    html {
        font-size: 85.33px
    }
}

@media screen and (min-width:750px) {
    html {
        font-size: 100px
    }
}

