table{
    font-size: 12px;
}

.show_table{
    margin-left: 200px;
    margin-top: 20px;
}

.top-content{
    color: #0f0f0f;
    height: 40px;
    width: 100%;
    margin-left: -15px;
    margin-right: -15px;
    font-size: 14px;

}

h5{
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}
